.catalog {
  display: grid;
  gap: 48px 46px;
  padding: 50px 40px;
  grid-template-columns: 1fr;

  @include two-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  @include three-columns {
    grid-template-columns: repeat(3, 1fr);
  }

  @include four-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}
